name: "Stats update"

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  website:
    runs-on: ubuntu-latest
    steps:
    - name: Clone website repository on current branch
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Determine which token to use when cloning website repository on stats branch
      id: token_gh_pages
      run: |
        if [[ "${GITHUB_REPOSITORY}" == "fem-on-colab/fem-on-colab.github.io" ]]; then
          echo "::set-output name=token::${{ secrets.GITHUB_TOKEN }}"
        else
          echo "::set-output name=token::${{ github.token }}"
        fi
      shell: bash
    - name: Clone website repository on stats branch
      uses: actions/checkout@v2
      with:
        token: ${{ steps.token_gh_pages.outputs.token }}
        ref: stats
        fetch-depth: 0
        path: _build/stats
    - name: Install dependencies
      run: |
        wget https://github.com/fem-on-colab/release-download-count-script/raw/main/scripts/requirements.txt
        python3 -m pip -q install -r requirements.txt
        rm requirements.txt
        SITE_PACKAGES=$(python3 -c 'import site; print(site.getsitepackages()[0])')
        wget https://github.com/fem-on-colab/release-download-count-script/raw/main/scripts/release_download_count.py -P $SITE_PACKAGES
    - name: Update release download stats
      run: |
        pushd _stats
        ln -s _build/stats/stats.csv stats.csv
        python3 stats.py
        popd
    - name: Deploy to GitHub branch
      if: github.repository == 'fem-on-colab/fem-on-colab.github.io' && github.ref == 'refs/heads/main'
      run: |
        SHA_SHORT=$(git rev-parse --short HEAD)
        pushd _build/stats
        git config user.name "GitHub Actions"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add .
        git pull origin stats
        [ -n "$(git status --porcelain=v1 2>/dev/null)" ] && git commit -m "deploy: ${SHA_SHORT}"
        git push origin stats
        popd
      shell: bash
    - name: Warn if scheduled workflow is about to be disabled
      if: github.repository == 'fem-on-colab/fem-on-colab.github.io' && github.ref == 'refs/heads/main' && github.event_name == 'schedule'
      uses: fem-on-colab/warn-workflow-about-to-be-disabled-action@main
      with:
        workflow-filename: stats.yml
        days-elapsed: 50
